@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* tela grande */
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}
nav{
    z-index: 1000;
}

/* PAGINA DE PORDUTOS */
#produtos{
    /* display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    position: relative; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    justify-content:center;
    align-items: center;
    width:100%;
    height: auto;
    padding-top: 100px;
}
#titulo{
    font-size: 45px;
    font-weight: bold;
    align-self: flex-start;
    margin: 50px;
}
#list_produtos{
    list-style-type:none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.produtos_item{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    width:300px;
    height: 400px;
    border: 5px solid lightgray;
    padding: 20px;
    margin:10px;
}
.nome_produto{
    font-size: 40px;
    padding: 0;
    margin:0;
}
.foto_produto{
    width: 200px;
    height: 200px;
}
.bt_adicionar_carrinho{
    width: 200px;
    height: 40px;
    font-size: 15px;
    border-radius: 25px;
    background-color: #fe9b91;
    border:none;
}


.itens_carrosel_produtos_amor_joia{
    width:350px;
    height: 500px;
    border: 1px solid #FF5AD1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:30px;
}
.itens_carrosel_produtos_amor_joia img{
    width:250px;
    height: 250px;
}
.itens_carrosel_produtos_amor_joia p{
    font-size:30px;
    font-weight: bold;
    padding: 20px;
    align-self: center;
}
.itens_carrosel_produtos_amor_joia_preco_carrinho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
    
    
}
.itens_carrosel_produtos_amor_joia_preco_carrinho img{
    width:50px;
    height: 50px;
    padding-right: 50px;
}
.itens_carrosel_produtos_amor_joia_preco_carrinho p{
    font-size: 30px;
    font-weight: 900;
    padding-left: 50px;
}