@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}
/* tela grande */
#campanha1{
    width: 100%;
    height: 500px;
    padding-top: 90px;
    background-image: url('img2/https___lojavivara.vtexassets.com_assets_vtex.file-manager-graphql_images_1bfc4ae1-0a87-4ca4-aae0-6f42dacc9cca___ba23a5ac7d5529c77b26d219f1802305.webp');
    background-position: left;
    background-size: cover;
}
#sobre_nos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#sobre_nos h1{
    margin-left: 30px;
    align-self: flex-start;
    font-size: 64px;
    font-weight: 9000;
}
#sobre_nos2{
    display: flex;
    flex-direction: row;
    padding: 30px;
}
#sobre_nos3{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
#sobre_nos3 p{
    font-size: 30px;
}
#sobre_nos3 button{
    font-family: 'Montserrat';
    width:340px;
    height: 70px;
    font-size: 30px;
    color:black;
    background-color: #FFA7D1;
    border-radius: 50px;
    border:none;
    align-self: center;
}

#amor_joia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
#amor_joia h1{
    font-size: 30px;
    border-bottom: 3px solid black;
    padding: 10px;
}
#amor_joia_ver_tudo{
    width: 365px;
    height: 77px;
    font-size: 32px;
    background-color: #FFA7D1;
    align-self: self-end;
    border:none;
    border-radius: 50px;
}
/* carrosel  */
.carousel_todo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 20px;
}
.carrosel_itens{
    display: flex;
    flex-direction: row;
}
.itens_carrosel_produtos_amor_joia{
    width:350px;
    height: 500px;
    border: 1px solid #FF5AD1;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.itens_carrosel_produtos_amor_joia img{
    width:250px;
    height: 250px;
}
.itens_carrosel_produtos_amor_joia p{
    font-size:30px;
    font-weight: bold;
    padding: 20px;
    align-self: center;
}
.itens_carrosel_produtos_amor_joia_preco_carrinho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
    
    
}
.itens_carrosel_produtos_amor_joia_preco_carrinho img{
    width:50px;
    height: 50px;
    padding-right: 50px;
}
.itens_carrosel_produtos_amor_joia_preco_carrinho p{
    font-size: 30px;
    font-weight: 900;
    padding-left: 50px;
}
/* botão de passar produtos */
.carousel_todo_botao_prev{
    border:none;
    
}
/* entre em contato */
#contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#contato h1{
    font-size: 30px;
    border-bottom: 3px solid black;
    padding: 10px;
}
#formulario_contato{
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.form_2campos{
    display: flex;
    flex-direction: row;
}
.form_2campos input{
    width:550px;
    height: 90px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 20px;
    margin:30px;
}
.form_2campos input::placeholder{
    font-size:25px;
    color:black;
    font-family: 'Montserrat';
    padding: 10px;
    align-self: center;
    justify-self: center;
}
#formulario_contato textarea{
    width: 1160px;
    height: 470px;
    margin:30px;
    align-self: center;
    justify-self: center;
    background-color: #D9D9D9;
    border: none;
    border-radius: 20px;
    margin:30px;
}
#formulario_contato textarea::placeholder{
    font-size:25px;
    color:black;
    font-family: 'Montserrat';
    padding: 10px;
    align-self: center;
    justify-self: center;
}
#bt_enviar_formulario{
    width: 365px;
    height: 77px;
    font-size: 32px;
    background-color: #FFA7D1;
    align-self: center;
    border:none;
    border-radius: 50px;
}
